{% extends "base_generic.html" %}

{% block content %}

  <div class="ind">
    <div class="ind_left">
      <div class="ind_left_cnt">
        Building Blocks
      </div>
    </div>

    <div class="ind_right"> 
      <div class="ind_right_cnt"> 
      <h2>Noticias</h2>
      <ul>
        <li class="li_1">
          <h3>Subio el stock de Coppel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit conubia, enim porttitor nisi ultricies egestas magna litora faucibus aliquet.</h4>
        </li>
        <hr>
        <li>
          <h3>Subio el stock de Coppel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit conubia, enim porttitor nisi ultricies egestas magna litora faucibus aliquet.</h4>
        </li>
        <hr>
        <li>
          <h3>Subio el stock de Coppel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur adipiscing elit conubia, enim porttitor nisi ultricies egestas magna litora faucibus aliquet.</h4>
        </li>
        
      </ul>
      </div>
    </div>
  </div>



  
  
{% endblock %}